/* .App {
  text-align: centre;
} */

.form {
  background-color: rgb(231, 191, 191);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#h1 {
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(126, 16, 16);
}

#name-label {
  font-size: 3vh;
  font-family: "Times New Roman", Times, serif;
  color: rgb(185, 41, 89);
}

#email-label {
  font-size: 3vh;
  font-family: "Times New Roman", Times, serif;
  color: rgb(156, 98, 98);
}

#password-label {
  font-size: 3vh;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 254, 254);
}

#submit-label {
  font-family: "Times New Roman", Times, serif;
  color: rgb(110, 53, 53);
  border-radius: 50%;
  font-size: 3vh;
  border: 1px solid rgb(177, 104, 104);
}

#user {
  font-family: "Times New Roman", Times, serif;
  color: rgb(126, 16, 16);
}

/* .form {
  background-color: #1fb198;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 71, 142);
} */
